   body{
      width: 100%;
      font-family: 'Dosis', sans-serif;
      background-color: rgb(237, 239, 240);
    }
    .card_wrapper{
      width: 90%;
      min-width: 500px;
      display: block;
      margin: 0 auto;
    }
    #profile_card > img{
      border-radius: 100px;
      width: 150px;
      height: 150px;
      display: block;
      margin: 0 auto;
    }
    .card{
      background-color: white;
      margin-bottom: 20px;
      padding: 20px;
      text-align: center;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
    .social_items li{
      display: inline-block;
      padding: 20px;
    }
    .social_items li a{
      color: #ccc;
      text-decoration: none;
      font-size: 25px;
    }
    .social_items li a:hover{
      color: #91273f;
    }
    h1{
      color: #91273f;
      padding-bottom: 5px;
    }
    th{
      font-size: 18px;
    }
    td img{
      width: 80px;
    }
    td h3{
      font-weight: 600;
    }
    td{
      text-align: left;
      padding: 10px;
    }
    .card p, td p {
      letter-spacing: 1px;
    }
